<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <strong>Event Binding</strong>
    </mat-panel-title>
    <mat-panel-description>
      Utilizando Event Binding
    </mat-panel-description>
  </mat-expansion-panel-header>

  <h1>Event Binding</h1>
  <section>
    <article>
      <button mat-raised-button color="primary" (click)="showAlert('Angular 5 é sensacional !')">
        <mat-icon>
          notifications_active
        </mat-icon>
        Mostrar Alerta
      </button>
    </article>
  </section>
</mat-expansion-panel>