.flexbox-container {
    display: flex;
    
}

.flexbox-container > div {
	width: 100%;
	padding: 10px;
}

.flexbox-container > div:nth-last-child(){
    background-color: green;
}

h1{
    text-align: center;
}

#btnSubmit{
    width: 100% !important;
}