<app-ca-toolbar></app-ca-toolbar>
<mat-progress-bar *ngIf="showProgressBar" mode="indeterminate"></mat-progress-bar>

<div class="container" *ngIf="showContainer">
    <ca-data-binding></ca-data-binding>
    <br>
    <ca-class-style-binding></ca-class-style-binding>
    <br>
    <ca-event-binding></ca-event-binding>
    <br>
    <ca-input-properties></ca-input-properties>
    <br>
    <ca-template-driven></ca-template-driven>
    <br>
    <ca-reactive-forms></ca-reactive-forms>
    <br>
    <ca-grid-list></ca-grid-list>
    <div style="display:inline-block">
        <h2>Avalie nosso curso :
            <ca-rating (rated)="rated = true"></ca-rating>
        </h2>

        <div [hidden]="!rated">
            <h4>Olá, Obrigado por avaliar o nosso cuso de Angular 5 :) </h4>
        </div>
    </div>
</div>